<!-- ARTICLES -->
<section class="pt-8 pt-md-11">
    <div class="container" style="margin-bottom: 15px">
        <div class="row">
            <div class="col-12">

                <!-- Heading -->
                <h2 class="mb-0">
                    Derniers relever
                </h2>

                <!-- -->
                <p class="mb-5 text-muted">
                    Affichages des relever de température
                </p>

            </div>
        </div>
        <!-- / .row -->
        <div class="row">
            <div class="col-12">

                <!-- Card -->
                <div class="card card-row shadow-light-lg mb-6">
                    <div class="row gx-0">
                        <a class="col-12 col-md-6 bg-cover card-img-start" style="background-image: url('/img/placeholder.jpg');" href="#!">

                            <!-- Image (placeholder) -->
                            <img src="public/img/placeholder.jpg" alt="..." class="img-fluid d-m-none invisible">

                        </a>
                        <div class="col-12 col-md-6">

                            <!-- Body -->
                            <a class="card-body" href="#!">

                                <!-- Heading -->
                                    <h3>Chambre froide n°: </h3>
                                    <h4>OFF du </h4>

                                <!-- Text -->
                                <p class="mb-0 text-muted">
                                    Relever de température
                                </p>
                            </a>

                            <!-- Meta -->
                            <a class="card-meta">

                                <!-- Créateur -->
                                <hr class="card-meta-divider">

                                <!-- Date d'ajout -->
                                <p class="h6 text-uppercase text-muted mb-0 ms-auto">
                                    <time datetime="2021-10-13">Ajouté le 10/13/2021</time>
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / .row -->
    </div>
    <!-- / .container -->
</section>