
<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="font-size: 1.3rem">
    <div class="container-fluid">
        <!-- Brand -->
        <a class="navbar-brand" href="{{ path('home') }}">
        </a>

        <!-- Toggler -->
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Navigation -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('home') }}">
                        Menu
                    </a>
                </li>
                <li>
                    <a class="nav-link active" aria-current="page" href="#">
                        A propos
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#"
                       id="navbarDropdown"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Catégorie
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Chambres Froides</a></li>
                        <li><a class="dropdown-item" href="{{ path('sondes') }}">Sondes</a></li>
                        <li><a class="dropdown-item" href="#">Catégorie 3</a></li>
                        <li><a class="dropdown-item" href="#">Catégorie 4</a></li>
                        <li><hr class="dropdown-divider"></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex" style="margin-right: 15px">
                <button class="btn btn-outline-success" type="submit">Nous contactez</button>
            </form>
            <form class="d-flex">
                <button class="btn btn-outline-success" type="submit">S'enregistrer</button>
            </form>
        </div>
    </div>
</nav>