{% extends 'base.html.twig' %}

{% block title %}Admin Controller{% endblock %}

{% block body %}
    <div>
        <h1>Admin Controller</h1>

        <ul>
            <li>Your controller</li>
            <li>Your template</li>
        </ul>
    </div>
{% endblock %}