{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>
    <table class="table">
        <thead>
            <th>ID</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {# On boucle les utilisateurs #}
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% for roles in user.roles %}
                            {% if roles == "ROLE_USER" %}
                                Utilisateur
                            {% elseif roles == "ROLE_OFFICINE" %}
                                Officine
                            {% elseif roles == "ROLE_TECHNICIEN" %}
                                Technicien
                            {% elseif roles == "ROLE_ADMIN" %}
                                Administrateur
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ path('admin/modifier_utilsateur', {'id': user.id}) }}"
                           class="btn btn-warning"
                        >
                            Modifier le role
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan=5>Il n'y a pas d'utilisateurs inscrits</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
